.ban6{
    width:100%;
    height:1350px;
    /* background-color: blueviolet; */
    background-image: url("../Images/one\ man\ ban6.png");
    background-repeat: no-repeat;
    background-size: 100% 1300px;
    background-color:rgba(163, 162, 157, 0.272);
}

.head{
    width:600px;
    height:140px;
    /* background-color: blanchedalmond; */
    /* margin-top: 500px; */
}

.head h5{
    width:600px;
    font-size:55px;
    font-family: "League Gothic";
    color: rgb(255, 112, 91);
    font-style: italic;
    line-height:50px;
    font-weight: normal;  
    margin-left:70px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top:131px;
}

.para{
    width:600px;
    height: 85px;
    /* background-color: aquamarine; */
    margin-top:110px;
}

.para p{
    font-size:17px;
    font-family: "Montserrat";
    color: rgb(47, 73, 89);
    font-style: italic;
    margin-left:100px;
    line-height:20px;
}

.magazine{
    width:600px;
    height:620px;
    /* background-color: aliceblue; */
}

.magazine img{
    margin-left:150px;
    /* margin-top:0px; */
}

.buttonban6{
    width:600px;
    height:100px;

    /* background-color: brown; */
}

.buttonban6 button{
    font-size:25px;
    font-family: "Montserrat";
    font-weight:bold;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 112, 91);
    text-align:center;
    border-radius:10px ;
    width:280px;
    height:60px;
    border: none;
    /* margin-top:55px; */
    margin-left:150px; 
}


@media screen and (max-width:700px) {

.ban6{
    width:100%;
    height:845px;
    /* background-color: blueviolet; */
    background-image: url("../Images/one\ man\ ban6.png");
    background-repeat: no-repeat;
    background-size: 100% 815px;
    background-color:rgba(163, 162, 157, 0.272);
}

.head{
    width:450px;
    height:140px;
    /* background-color: blanchedalmond; */
    /* margin-top: 500px; */
}

.head h5{
    width: 265px;
    font-size: 34px;
    font-family: "League Gothic";
    color: rgb(255, 112, 91);
    font-style: italic;
    line-height: 36px;
    font-weight: normal;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 131px;
}

.para{
    width: 266px;
    height:100px;
    /* background-color: aquamarine; */
    margin-top: 80px;
}

.para p{
    font-size: 17px;
    font-family: "Montserrat";
    color: rgb(47, 73, 89);
    font-style: italic;
    margin-left: 5px;
    line-height: 20px;
}

.magazine{
    width: 245px;
    height: 266px;
    /* background-color: aliceblue; */
}

.magazine img{
    margin-left:30px;
    width: 150px;
    height: 250px;
    /* margin-top:0px; */
}

.buttonban6{
    width:265px;
    height:100px;

    /* background-color: brown; */
}

.buttonban6 button{
    font-size: 20px;
    font-family: "Montserrat";
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 112, 91);
    text-align: center;
    border-radius: 10px;
    width: 185px;
    height: 59px;
    border: none;
    margin-top: 11px;
    margin-left: -20px;
}

    
}